/1-08-crash-data-report-detail-498c3.csv
/2014-housing-market-analysis-data-by-zip-code.csv
/2018-green-taxi-trip-data.csv
/2022-annual-technology-baseline-atb-cost-and-performance-data-for-electricity-generation-t.csv
/2022-green-taxi-trip-data.csv
/2023-annual-technology-baseline-atb-cost-and-performance-data-for-electricity-generation-t.csv
/acdbe-dbe-certified-businesses-by-the-department-of-equity-and-inclusion-dei.csv
/advanced-driver-assistance-system-adas-equipped-two-vehicle-data-for-central-ohio.csv
/agency-authorized-parking-permits.csv
/airline-customer-service-commitments-for-cancellation.csv
/airports-5e97a.csv
/allegheny-county-assets.csv
/allegheny-county-traffic-counts.csv
/alternative-fueling-station-locations-422f2.csv
/annual-personal-consumption-expenditures-for-state-of-iowa.csv
/autonomous-vehicle-survey-of-bicyclists-and-pedestrians-in-pittsburgh.csv
/average-daily-traffic-counts.csv
/baton-rouge-traffic-crash-incidents-c1a90.csv
/bi-annual-pedestrian-counts.csv
/bicycle-pedestrian-counts.csv
/blm-natl-gtlf-limited-public-motorized-trails.csv
/blm-natl-gtlf-public-motorized-trails.csv
/blm-natl-recreation-site-points.csv
/blm-natl-recreation-site-polygons-7f4a2.csv
/blm-or-easements-and-rights-of-way-polygon-hub.csv
/border-crossing-entry-data-683ae.csv
/bridge-conditions-nys-department-of-transportation.csv
/california-and-justice40-disadvantaged-or-low-income-communities-6602e.csv
/capital-district-transportation-authority-cdta-annual-reports-beginning-2007.csv
/capital-improvement-program-cip-project-status.csv
/cdc-nutrition-physical-activity-and-obesity-legislation.csv
/certified-disadvantaged-business-enterprises-dbes-in-the-nys-unified-certification-program.csv
/chicago-street-names.csv
/citywide-mobility-survey-person-2022.csv
/citywide-mobility-survey-trip-survey-2019.csv
/citywide-mobility-survey-vehicle-survey-2019.csv
/clean-transportation-program-8e7de.csv
/commercial-aviation-mishandled-baggage-and-mishandled-wheelchairs-and-scooter.csv
/community-vulnerability-bcdc-2020-e61b6.csv
/congressional-districts-shapefile-116th-117th.csv
/consumer-airfare-report-table-1a-all-u-s-airport-pair-markets.csv
/consumer-airfare-report-table-2-top-1000-city-pair-markets.csv
/consumer-airfare-report-table-5-detailed-fare-information-for-highest-and-lowest-fare-mark.csv
/ct-planning-regions.csv
/daily-transit-ridership.csv
/daily-vehicle-miles-of-travel-beginning-1985.csv
/department-for-the-aging-dfta-contracted-providers.csv
/department-of-transportation-inventory-of-artificial-intelligence-use-cases.csv
/disadvantaged-communities-designated-by-justice40-a167d.csv
/dmv-peer-to-peer-car-sharing.csv
/docked-bikeshare-ridership-by-system-year-and-month.csv
/dot-parking-tickets.csv
/early-model-based-provisional-estimates-of-drug-overdose-suicide-and-transportation-relate-b35b2.csv
/e-bike-field-study-data.csv
/electric-fuel-corridor-groups-march-2024-4f222.csv
/electric-vehicle-charging-stations.csv
/electric-vehicle-population-data.csv
/electric-vehicle-population-size-history-by-county.csv
/electric-vehicle-population-size-history.csv
/electric-vehicle-title-and-registration-activity.csv
/energy-prices-dollars-per-million-btu-beginning-1970.csv
/energy-prices-per-physical-unit-by-sector-beginning-1970.csv
/enhancing-microsimulation-models-for-improved-work-zone-planning-car-following-data-from-w-fff48.csv
/e-zpass-usage-statistics-beginning-2008.csv
/fare-card-history-for-metropolitan-transportation-authority-mta-beginning-2010.csv
/for-hire-vehicles-fhv-active.csv
/for-hire-vehicles-fhv-active-drivers.csv
/fruit-and-vegetable-consumption-in-california-residents-2012-2013-819a8.csv
/gasoline-retail-prices-weekly-average-by-region-beginning-2007.csv
/government-transportation-financial-statistics-gtfs-data.csv
/h2scale-concept-hydrogen-demand-and-resources.csv
/highway-mileage-beginning-2008.csv
/highway-performance-monitoring-system-hpms-b7a2f.csv
/highway-rail-grade-crossing-accident-data.csv
/historic-deer-kill-locations-data.csv
/historic-hpms-data-universe-2008.csv
/hourly-traffic-on-metropolitan-transportation-authority-mta-bridges-and-tunnels-beginning-.csv
/inequity-identification-tool-iit-noise-cost-by-county.csv
/interstate-exit.csv
/iowa-511-c5c53.csv
/jefferson-county-ky-street-centerlines-68ea4.csv
/jefferson-county-ky-traffic-web-cameras-2b335.csv
/king-county-metro-vanpool.csv
/ladot-metered-parking-inventory-policies.csv
/ladot-parking-meter-occupancy.csv
/ladot-traffic-counts-summary.csv
/la-express-park-project-area.csv
/land-use-2020-cfac6.csv
/licensed-automobile-dealers-and-repairers.csv
/licensed-driver-dashboard-data.csv
/licensed-drivers-by-state-gender-and-age-group.csv
/license-event-notification-service-lens-customers.csv
/liquor-brands.csv
/los-angeles-international-airport-air-cargo-volume.csv
/los-angeles-international-airport-flight-operations-by-month.csv
/los-angeles-international-airport-passenger-count-by-carrier-type.csv
/los-angeles-international-airport-passenger-traffic-by-terminal.csv
/loudoun-road-casings-d3d30.csv
/louisville-metro-ky-animal-service-intake-and-outcome.csv
/louisville-metro-ky-animal-services-activity-log-dd99d.csv
/louisville-metro-ky-animal-services-citation-60070.csv
/louisville-metro-ky-feature-class-containing-trip-level-data-for-louvelo-bikeshare-program.csv
/managed-care-enrollment-by-program-and-population-all-de096.csv
/maryland-road-closures.csv
/massachusetts-department-of-transportation-massdot-work-zone-data-exchange-wzdx-v2-0-feed-.csv
/massachusetts-department-of-transportation-massdot-work-zone-data-exchange-wzdx-v3-1-feed-.csv
/medallion-taxi-initial-inspection-schedule.csv
/medallion-vehicles-authorized.csv
/metro-bike-share-trip-data.csv
/metropolitan-planning-areas.csv
/mobility-trends-county-modeling-dataset.csv
/monthly-modal-time-series.csv
/monthly-motor-fuel-sales-reported-by-states-selected-data-from-fhwa-monthly-motor-fuel-rep.csv
/motor-vehicle-registrations-dashboard-data.csv
/motor-vehicle-use-map-roads-feature-layer-7d219.csv
/mta-2025-2044-20-year-needs-assessment-asset-condition.csv
/mta-2025-2044-20-year-needs-assessment-bus-fleet-inventory.csv
/mta-bus-fare-evasion-beginning-2019.csv
/mta-bus-speeds-beginning-2015.csv
/mta-bus-speeds-beginning-2020.csv
/mta-colors.csv
/mta-customer-feedback-data-beginning-2014.csv
/mta-daily-ridership-data-beginning-2020.csv
/mta-lirr-and-metro-north-mean-distance-between-failures-beginning-2015.csv
/mta-lirr-chargebacks-beginning-2015.csv
/mta-lirr-delay-verification-beginning-2010.csv
/mta-lirr-fare-collection-failure-rates-beginning-2015.csv
/mta-major-felonies.csv
/mta-mckinsey-ridership-projections-october-2020-december-2026.csv
/mta-metro-north-on-time-performance-beginning-2020.csv
/mta-monthly-ridership-traffic-data-beginning-january-2008.csv
/mta-nyct-express-bus-capacity-beginning-2023.csv
/mta-service-alerts-beginning-april-2020.csv
/mta-staten-island-railway-on-time-performance-beginning-2006.csv
/mta-staten-island-railway-scheduled-trips-beginning-2006.csv
/mta-subsidies-beginning-2019.csv
/mta-subway-and-bus-reduced-fare-metrocard-usage-beginning-2018.csv
/mta-subway-elevator-and-escalator-availability-beginning-2015.csv
/mta-subway-hourly-ridership-beginning-february-2022.csv
/mta-subway-major-incidents-beginning-2015.csv
/mta-subway-mean-distance-between-failures-beginning-2015.csv
/mta-subway-stations-and-complexes.csv
/mta-subway-stations.csv
/mta-subway-terminal-on-time-performance-beginning-2020.csv
/mta-subway-wait-assessment-beginning-2015.csv
/mta-transit-oriented-development-tod-data.csv
/mta-workplace-violence-labor-law-incidents-beginning-2019.csv
/mva-electric-and-hybrid-vehicle-registrations-by-county-as-of-october-2020.csv
/mva-vehicle-registration-by-county-fy-2010-to-fy-2020.csv
/mva-vehicle-registrations-by-county-as-of-each-month-end-from-jan-2023-to-jun-2023.csv
/mva-vehicle-sales-counts-by-month-for-calendar-year-2002-2020-up-to-october.csv
/national-forest-system-trails-feature-layer-f51e8.csv
/national-hydrography-dataset-nhd-0c127.csv
/new-york-city-truck-routes.csv
/new-york-truck-voucher-incentive-program-nytvip-projects-reported-by-nyserda-beginning-201.csv
/nyc-taxi-zones.csv
/nypd-b-summons.csv
/oath-trials-division-case-status.csv
/offshore-wind-substations-proposed-or-installed.csv
/open-restaurant-applications.csv
/parking-citations-82ba2.csv
/parking-meters-parknyc-blockfaces.csv
/parking-permit-for-people-with-disabilities-pppd-city.csv
/parking-regulation-locations-and-signs.csv
/parking-transactions.csv
/pavement-condition-index-2019.csv
/percent-of-covid-19-vaccine-recipients-who-live-in-a-svi-priority-zip-code-cumulative-and-.csv
/pittsburgh-regional-transit-transit-routes.csv
/pole-attachments.csv
/police-data-crashes.csv
/providence-police-department-arrests-and-citations-past-60-days.csv
/public-electric-vehicle-charging-stations-and-alternative-fuel-stations-in-maryland.csv
/rail-equipment-accident-incident-data.csv
/real-time-traffic-incident-reports.csv
/recalls-data.csv
/reduced-access-to-care-during-covid-19.csv
/round-1-solicitation-electric-fuel-corridor-groups-updated-december-2023-3f25e.csv
/sales-tax-collections-by-state.csv
/seasonally-adjustment-transportation-data.csv
/service-flat-file.csv
/shn-postmiles-tenth-972a0.csv
/speed-camera-locations.csv
/speed-reducer-tracking-system-srts.csv
/state-of-aging-in-allegheny-county-survey.csv
/street-lighting-fb20b.csv
/street-names-1fbad.csv
/street-resurfacing-schedule.csv
/subway-lines.csv
/sugar-sweetened-beverage-consumption-in-california-residents-69c65.csv
/sutdrevdistcitycounty-d48f1.csv
/tampa-cv-pilot-traveler-information-message-tim-sample.csv
/taxi-and-for-hire-vehicle-fhv-relief-stands.csv
/taxi-improvement-fund-tif-medallion-payments.csv
/taxi-medallion-transfers.csv
/taxi-trips-2024.csv
/tax-rates-by-motor-fuel-and-state.csv
/temporary-use-permits.csv
/test-lc.csv
/tlc-approved-labcorp-patient-services-drug-test-locations-dataset.csv
/tlc-new-driver-application-status.csv
/tourism-information-centers.csv
/towed-vehicles.csv
/traffic-cameras-39eee.csv
/traffic-control-device-inventory.csv
/traffic-crashes-people.csv
/traffic-crashes-vision-zero-chicago-traffic-fatalities.csv
/traffic-signals-661cb.csv
/traffic-signals-status.csv
/traffic-volume-counts.csv
/traffic-volumes-aadt-ee8d6.csv
/transportation-economic-trends-tet-data.csv
/transportation-planning-agencies-that-filed-late-or-failed-to-file-fy-2019-20-ftrs-6fc98.csv
/transportation-public-financial-statistics-tpfs.csv
/transportion-structure.csv
/truck-size-and-weight-enforcement-data.csv
/united-states-boundary-files.csv
/university-of-texas-good-systems-and-atcems-incidents-data.csv
/vehicle-fuel-type-count-by-zip-code.csv
/vehicle-registrations-by-class-and-county.csv
/vehicle-registration-summary.csv
/vision-zero-demographic-statistics.csv
/vzv-senior-centers.csv
/vzv-speed-limits.csv
/wa-tax-exemptions-potential-eligibility-by-make-model-excluding-vehicle-price-criteria.csv
/weekly-traffic-volume.csv
/wyoming-cv-pilot-traveler-information-message-sample-schema-version-6.csv
